.header__lang-link{
  margin-left: auto;
  font-family: Inter;
  color: #fff;
  font-weight: 400;
  align-content: right;
  font-size: 24px;
  line-height: 28px;
}

.header__lang-link:nth-of-type(1):active{
  text-decoration: none;
}

.header__lang-link:nth-of-type(2){
  text-decoration: none;
}

.header__lang-link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .header__lang-link { 
    font-size: 18px;
    line-height: 20px;
  }
}