.page {
  max-width: 1280px;
  background-color: #2A2C2F;
  border: 1px solid red;
  font-family: 'Inter', 'Arial', sans-serif;
  color: #fff;
  box-sizing: border-box;
  padding: 0 calc(50%-640px) 0;
}