.intro {
    max-width: 690px;
    margin-left: 148px;
    margin-top: 92px;
}

@media screen and (max-width: 1023px) {
    .intro { 
      margin-left: 48px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .intro { 
      margin: 92px auto 0 auto;
      max-width: 720px;
    }
  }

  @media screen and (max-width: 368px) {
    .intro { 
      margin: 64px auto 0 auto;
      max-width: 288px;
    }
  }
