.footer {
  max-width: 1184px;
  margin: 0 48px;
  margin-bottom: 24px;
  display: grid;
  grid-auto-flow: column;
  justify-items: start;
}

@media screen and (max-width: 1023px) {
  .footer  { 
    margin: 0 24px 24px 24px;
  }
}

@media screen and (max-width: 720px) {
  .footer  { 
    grid-auto-flow: row;
    margin-left: 16px;
  }
}